astro-yanush/project/proj.android/obj/
astro-yanush/project/proj.win32/Debug_v100/
*.sdf
*.opensdf
astro-yanush/project/proj.android/libs/armeabi-v7a/libSDL2.so
astro-yanush/project/proj.android/libs/armeabi-v7a/libmain.so
*.ipch
astro-yanush/project/proj.cmake/build/
astro-yanush/project/proj.win32/Debug_v140/
astro-yanush/project/proj.ios/MyAwesomeGame_ios.xcodeproj/xcuserdata
astro-yanush/project/proj.ios/MyAwesomeGame_ios.xcodeproj/project.xcworkspace/xcuserdata
astro-yanush/project/proj.emscripten/build/
astro-yanush/project/proj.emscripten/build_release/
astro-yanush/project/proj.emscripten/data.js
astro-yanush/project/proj.cmake/build_emsc/
astro-yanush/project/proj.cmake/build_emsc_release/
astro-yanush/project/proj.android/.gradle/
astro-yanush/project/proj.android/build/
*.VC.db
*.suo
astro-yanush/project/proj.android/bin/
astro-yanush/project/proj.android/gen/
astro-yanush/project/proj.win32/Debug_v140_xp/
astro-yanush/project/proj.cmake/data.js
astro-yanush/project/proj.win32/Release_v141/
astro-yanush/project/proj.win32/Debug_v141/
astro-yanush/project/proj.win32/.vs/
astro-yanush/project/Debug_v141/
astro-yanush/project/proj.win32/MyAwesomeGame.VC.VC.opendb
astro-yanush/project/proj.android/.externalNativeBuild/
/.idea
astro-yanush/project/proj.android/.idea/
astro-yanush/project/proj.android/proj.android.iml
astro-yanush/project/proj.android/local.properties
